.aliceWMwin {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 200px;
    width: 500px;
    background: white;
    position: fixed;
    overflow: hidden;
    z-index: 91;
    display: flex;
    /* FLEXBOX #2 */
    border: 2px solid var(--material-border);
    flex-direction: column;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    transform: scale(1);
    transition:
        visibility 0s,
        opacity 0.15s cubic-bezier(0, 0, 0.4, 1);
    opacity: 1;
}

.scaletransition {
    transition:
        visibility 0s,
        transform 0.15s cubic-bezier(0, 0, 0.4, 1),
        opacity 0.15s cubic-bezier(0, 0, 0.4, 1);
}

.opacity0.scaletransition {
    transform: scale(0.9);
}

.maxtransition {
    transition:
        width 0.2s,
        height 0.2s,
        top 0.2s,
        left 0.2s;
}

.remaxtransitionx {
    transition:
        width 0.2s,
        left 0.2s;
}

.remaxtransitiony {
    transition:
        height 0.2s,
        top 0.2s;
}

#snapPreview {
    background-color: gray;
    opacity: 50%;
    position: fixed;
    user-select: none;
    transition: opacity 0.2s;
    z-index: 9999;
}

#snapSplitBar {
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    height: calc(100% - 49px);
    width: 8px;
    position: fixed;
    transition: background 0.2s;
    z-index: 9999;
    cursor: ew-resize;
    display: flex;
    align-items: center;
    justify-content: center;
}

#snapSplitBar > div {
    opacity: 1;
    width: 2px;
    height: 16px;
    border-radius: 2px;
    background-color: white;
}

.opacity0 {
    opacity: 0;
}

.aliceWMwin .title {
    display: flex;
    background-color: var(--theme-bg);
    font-weight: bold;
    color: var(--theme-fg);
    height: 24px;
    padding: 2px;
    align-items: center;
    z-index: 1;
}

body.platform-mobile .aliceWMwin .title,
body.platform-tablet .aliceWMwin .title {
    height: 32px;
}

.aliceWMwin .titleContent {
    flex: 1;
    font-size: 13px;
    font-weight: 400;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aliceWMwin .content {
    padding: 2px;
    flex: 1;
}

.aliceWMwin .title:hover {
    cursor: move;
}

.aliceWMwin .windowButton {
    background-color: transparent;
    color: var(--theme-fg);
    fill: var(--theme-fg);
    border: none;
    border-radius: 100%;
    margin: 2px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    transition: background-color 0.2s ease-in-out;
    z-index: 2;
}

body.platform-mobile .aliceWMwin .windowButton.maximize {
    display: none;
}

.aliceWMwin .windowButton > span {
    font-size: 16px;
}

body.platform-mobile .aliceWMwin .windowButton > span,
body.platform-tablet .aliceWMwin .windowButton > span {
    font-size: 18px;
    padding: 2px;
}

.aliceWMwin .windowButton:hover {
    background-color: var(--theme-secondary-bg);
}

.aliceWMwin .windowButton:active {
    background-color: color-mix(var(--theme-secondary-bg) var(--theme-bg) 50%);
}

.resize-corner {
    width: 10px;
    height: 10px;

    position: absolute;
    z-index: 2;
}

.resize-edge {
    position: absolute;
    z-index: 2;
    padding: 5px;
}

.resize-edge.left {
    left: -5px;
    height: 100%;
    cursor: e-resize;
}

.resize-edge.right {
    right: -5px;
    height: 100%;
    cursor: e-resize;
}

.resize-edge.top {
    top: -5px;
    width: 100%;
    cursor: s-resize;
}

.resize-edge.bottom {
    bottom: -5px;
    width: 100%;
    cursor: s-resize;
}

.resize-corner.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize;
    /*resizer cursor*/
}

.resize-corner.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}

.resize-corner.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}

.resize-corner.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}
.alttab-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    border-radius: 0.25rem;
    background-color: #374144ab;
    color: #eee;
}

.alttab-hidden {
    display: none;
}

.alttab-window-list {
    display: flex;
}

.alttab-nowindows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alttab-window,
.alttab-nowindows {
    min-width: 10rem;
    min-height: 5.625rem;
    padding: 1em;
    border: 0.125rem solid #00000000;
    border-radius: 0.25rem;
}

.alttab-window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.alttab-window-selected {
    border-color: #4698af;
}

.alttab-window-icon-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.alttab-icon-large {
    width: 3rem;
    height: 3rem;
}

.alttab-icon-inline {
    width: 1.5em;
    height: 1.5em;
    padding: 0 0.25em;
}

.alttab-titlebar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alttab-window-title-text {
    margin: 0.5em;
}
#launcher-button-container {
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#launcher-button {
    background: var(--theme-secondary-bg);
    background: color-mix(
        in srgb,
        var(--theme-secondary-fg) 17.5%,
        transparent
    );

    border-radius: 50%;
    height: 34px;
    width: 34px;
}

#launcher-button img {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    opacity: 100;
}
.hw-screen {
    height: 100%;
    width: 100%;
}

body.blur-disable #launcher {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

.app-shortcut-name {
    text-align: center;
}
@keyframes slideIn {
    from {
        left: 500px;
    }
    to {
        left: 0px;
    }
}
@keyframes slide-in {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-5%);
    }
}
@keyframes slide-out {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}
#taskbar-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.showDialog {
    width: 32px;
    height: 32px;
}

.lightbar {
    transition:
        visibility 0s,
        opacity 5s linear;
    opacity: 1;
}

.lightbar-hidden {
    visibility: hidden;
    opacity: 0;
}

.splitBar {
    background-color: var(--material-border);
    width: 1px;
    height: 40%;
}

.taskbar-button {
    filter: drop-shadow(0px 3px 7px #111);
}

#taskbar-right {
    right: 0.3em;

    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    height: 70%;
    display: flex;
    gap: 5px;
}

#taskinfo-container,
#date-container {
    background-color: var(--theme-secondary-bg);
    background: color-mix(
        in srgb,
        var(--theme-secondary-fg) 17.5%,
        transparent
    );
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
}

#taskinfo-container {
    border-radius: 5px 25px 25px 5px;
}

#date-container {
    border-radius: 25px 5px 5px 25px;
}

#taskinfo-container .material-symbols-outlined {
    font-size: 1rem;
}

#taskinfo-container > *,
#date-container > * {
    color: var(--theme-fg);
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* left: -1px; */
    /* background-color: rgba(0, 0, 0, 0.55); */
    background-color: color-mix(in srgb, var(--theme-dark-bg) 90%, transparent);
    border: 1px solid var(--theme-dark-border);
    box-shadow: inset 0 0 0 1px var(--theme-border);
    border-bottom: none;
    backdrop-filter: blur(30px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition-property: border-radius, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    -webkit-backdrop-filter: blur(30px);
    border-left: none;
    border-right: none;
}

body.blur-disable footer {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}
.systray {
    display: flex;
    padding-top: 0.075em; /* mmm */
    height: 1.5em;
    align-items: center;
    justify-content: center;
}
.notification-badge {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    color: var(--theme-dark-bg);
    background-color: var(--theme-fg);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 600;
    opacity: 1;
    transition-property: width, height, opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    padding-top: 0.075em; /* mmm */
}

.notification-badge.hidden {
    width: 0em;
    height: 0.25em;
    opacity: 0;
    transition-property: width, height, opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
html {
    background-color: black;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    background: gray;
    opacity: 0.5;
    z-index: 98;
}

body {
    overflow: hidden;
    background: #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    user-select: none;
    font-family:
        "Roboto",
        RobotoDraft,
        "Droid Sans",
        Arial,
        Helvetica,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        sans-serif;
}

body.blur-disable #quickSettings {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 5px;
}

.lightbar {
    width: 40px;
    height: 2px;
    position: relative;
    bottom: 1px;
    border-radius: 5px;
    opacity: 0.75;
}

.bootsplash {
    background-color: black;
    z-index: 9999999999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
    flex-wrap: wrap;
    transition: 0.175s;
    opacity: 1;
    transform: scale(1);
}

.bootsplash.hide {
    opacity: 0;
    pointer-events: none;
    transition: 0.175s;
    transform: scale(1.25);
}

.flex {
    display: flex;
}
.flexcenter {
    justify-content: space-evenly;
    align-items: center;
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined", sans-serif;
}

.custom-menu {
    position: absolute;
    background-color: var(--theme-secondary-bg);
    padding: 5px 0;
    width: 150px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

    z-index: 10000;
    overflow: hidden;

    padding: 0;
    border-radius: 3px;
}

.custom-menu.large {
    padding: 5px 0;
    width: 170px;
    background-color: color-mix(in srgb, var(--theme-dark-bg) 85%, transparent);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
}

.custom-menu-item:hover {
    background-color: color-mix(in srgb, var(--theme-fg) 5%, transparent);
    transition: 0.05s;
}

body.blur-disable .custom-menu {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

.custom-menu-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 13px;
    color: var(--theme-fg);
    cursor: pointer;
    user-select: none;
    transition: 0.075s;
}

.custom-menu-item .material-symbols-outlined {
    margin-top: 0.2px;
    margin-right: 0.5em;
    padding-left: 1px;
    font-size: 1.5em;
}

.custom-menu .extra-menu-wrapper {
    position: fixed;
}

.custom-menu .extra-menu {
    position: relative;
    left: 303px;
    bottom: 0.75em;
}
.aboutapp-container {
    background-color: var(--material-bg);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    padding: 0;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.aboutapp-logo {
    height: 128px;
}

.aboutapp-logo-img {
    transition: background 1s ease-in-out;
    /* height: 100%; */
    /* border-radius: 10%; */
    background: url(icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 128px;
    width: 128px;
}
.aboutapp-logo-img:hover {
    background: url(/assets/images/idol.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 128px;
    width: 128px;
}

.aboutapp-logo-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    background-color: var(--theme-border);
    flex-shrink: 0;
    width: 22rem;
}

.aboutapp-content {
    color: var(--theme-fg);
}

.aboutapp-content p {
    margin: 0;
}

.aboutapp-content a {
    color: var(--theme-accent);
}

.aboutapp-link-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: var(--theme-accent);
    text-decoration: underline;
    cursor: pointer;
    font-family:
        "Roboto",
        RobotoDraft,
        "Droid Sans",
        Arial,
        Helvetica,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        sans-serif;
    font-size: 1em;
}
/* cyrillic-ext */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
        U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
